---
layout: default
---
<section class="welcome-section d-flex align-items-center justify-content-between flex-wrap">
  <div class="welcome-text" style="flex: 1 1 300px;">
    <h2>Welcome, I'm Tony!</h2>
    <p>I write about <span class="highlight">financial independence</span>, <span class="highlight">digital minimalism</span>, and <span class="highlight">life in the Prairies.</span></p>
    <p><a href="/about" class="read-more">Learn more</a></p>
  </div>

  <div class="welcome-image" style="flex: 0 0 auto;">
    <img src="me.png" alt="Me" style="max-width: 150px; border-radius: 50%;">
  </div>

</section>


<div class="archive">
  {% assign date = "" %}
  {% for post in site.posts %}
    {% assign currDate = post.date | date: "%Y" %}
    {% if currDate != date %}
      <h2 class="archive-year mt-4">{{ currDate }}</h2>
      {% assign date = currDate %}
    {% endif %}

    <div class="archive-item mt-3 pb-2 border-bottom">
      <a href="{{ post.url | relative_url }}" class="archive-title d-block fs-5 mb-1">
        {{ post.title }}
      </a>
      <p class="text-muted small mb-1">
        {% assign words_array = post.content | strip_html | split: " " %}
        {% assign excerpt_words = words_array | slice: 0, 30 %}
        {{ excerpt_words | join: " " }}...
      </p>
      <span class="text-muted small">
        {{ post.date | date: "%B %-d, %Y" }} • 
        {% assign words = post.content | number_of_words %}
        {% assign minutes = words | divided_by:200 %}
        {% if minutes < 1 %}
          1 min read
        {% else %}
          {{ minutes }} min read
        {% endif %}
      </span>
    </div>
  {% endfor %}
</div>
