{% if page.layout == 'post' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | default: site.description | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": "Tony Neufeld",
    "url": "{{ site.url }}/about/"
  },
  "publisher": {
    "@type": "Person",
    "name": "Tony Neufeld",
    "url": "{{ site.url }}"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  },
  "url": "{{ page.url | absolute_url }}"
  {% if page.categories.size > 0 %},
  "articleSection": {{ page.categories | jsonify }}
  {% endif %}
  {% if page.tags.size > 0 %},
  "keywords": {{ page.tags | join: ", " | jsonify }}
  {% endif %}
}
</script>
{% endif %}
